<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>1</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>biomedical</string>
	</dict>
	<key>29</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>clarkMemorial</string>
	</dict>
	<key>54</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>cliccLab</string>
	</dict>
	<key>55</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>cliccClassrooms</string>
	</dict>
	<key>7</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>college</string>
	</dict>
	<key>9</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>nightPowell</string>
	</dict>
	<key>10</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>eastAsian</string>
	</dict>
	<key>31</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>englishReadingRoom</string>
	</dict>
	<key>47</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>collegeLibraryLaptopLending</string>
	</dict>
	<key>48</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>researchLibraryLaptopLending</string>
	</dict>
	<key>49</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>artsLibraryLaptopLending</string>
	</dict>
	<key>50</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>musicLibraryLaptopLending</string>
	</dict>
	<key>51</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>biomedLibraryLaptopLending</string>
	</dict>
	<key>ART - 13 - 3</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 4</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 5</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 6</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 7</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 8</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 9</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 10</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>ART - 13 - 11</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
</dict>
</plist>
