<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>5</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>powell</string>
	</dict>
	<key>1</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>biomedical</string>
	</dict>
	<key>29</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>clarkMemorial</string>
	</dict>
	<key>54</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>cliccLab</string>
	</dict>
	<key>55</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>cliccClassrooms</string>
	</dict>
	<key>7</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>college</string>
	</dict>
	<key>9</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>nightPowell</string>
	</dict>
	<key>10</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>eastAsian</string>
	</dict>
	<key>31</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>englishReadingRoom</string>
	</dict>
	<key>47</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>collegeLibraryLaptopLending</string>
	</dict>
	<key>48</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>researchLibraryLaptopLending</string>
	</dict>
	<key>49</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>artsLibraryLaptopLending</string>
	</dict>
	<key>50</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>musicLibraryLaptopLending</string>
	</dict>
	<key>51</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>biomedLibraryLaptopLending</string>
	</dict>
	<key>52</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>emsLibraryLaptopLending</string>
	</dict>
	<key>53</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>geologyLibraryLaptopLending</string>
	</dict>
	<key>14</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>management</string>
	</dict>
	<key>16</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>music</string>
	</dict>
	<key>56</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>researchCommons</string>
	</dict>
	<key>19</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>reprographicServ</string>
	</dict>
	<key>24</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>selChemistry</string>
	</dict>
	<key>25</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>selEngAndMathSci</string>
	</dict>
	<key>26</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>selGeo</string>
	</dict>
	<key>27</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>srlf</string>
	</dict>
	<key>28</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>universityArchives</string>
	</dict>
	<key>32</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>labSchool</string>
	</dict>
	<key>20</key>
	<dict>
		<key>latitude</key>
		<integer>0</integer>
		<key>longitude</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>yrl</string>
	</dict>
</dict>
</plist>
